<section data-ng-controller="WorkOrderController" style="background-color:#BDBDBD;">
     <div    style="line-height:30px; background-color:#BDBDBD; height:600px; width:100px; float:left; padding:5px;" >
     <br>
     <br>
      <button onclick="window.location.href='/#!/workorders'">List</button>
      <button onclick="window.location.href='/#!/workorders/create'">Create</button>
      <button onclick="window.location.href='/#!/workorders/:workorderId'">View</button>
      <button onclick="window.location.href='/#!/workorders/chart'">View Charts</button>
      
      
    
     </div>
     <div     style="
    height:600px;
    padding:10px;
    background-color:#BDBDBD" >
<h1 align="center">New Work Order</h1>


  <form data-ng-submit="create()" novalidate>
    
    <div align="center">
      <label for="firstname">First Name</label>
      <div>
        <input type="text" data-ng-model="firstname" id="firstname" placeholder="First Name">
      </div><br>
    </div>
    <div align="center">
      <label for="lastname">Last Name</label>
      <div>
        <input type="text" data-ng-model="lastname" id="lastname" placeholder="Last Name">
      </div><br>
    </div>
    <div align="center">
      <label for="Building">Building</label><br>
      <select data-ng-model="Building" id="Building" required name="Select Building">
          <option value="Clubhouse">Clubhouse</option>
          <option value="Continental">Continental</option>
          <option value="Harrington">Harrington</option>
          <option value="Moore">Moore</option>
          <option value="Park Place Towers">Park Place Towers</option>
          <option value="Plemons">Plemons</option>
          <option value="Talmage">Talmage</option>
          <option value="Ware">Ware</option>
      </select>
    </div><br>
    <div align="center">
        <label for="AptNumber">Apartment Number</label>
      <div>
        <input type="text" data-ng-model="AptNumber" id="AptNumber" placeholder="AptNumber">
      </div><br>
    </div>
    <div align="center">
        <label for="ProblemDescription">Describe your problem</label><br>
    
        <textarea data-ng-model="ProblemDescription" id="ProblemDescription" cols="30" rows="10" placeholder="ProblemDescription"></textarea>
    </div>
    <br>
    <div align="center">
        <label for="PhoneNumber">Phone Number</label><br>
      
        <input type="text" data-ng-model="PhoneNumber" id="PhoneNumber" placeholder="PhoneNumber">
    </div>
    <br>
    <div align="center">
      <input type="submit">
    </div>
  </div>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
</section>