<section data-ng-controller="WorkOrderController">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
console.log('scripttssss');
		      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      //I saved all three okay and let's try it
      //can we preview the chart here?
      function drawChart() {
        console.log('enters pie');
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Building');
        data.addColumn('number', 'numberOfWorkOrders');
        data.addRows([
          ['Park Place Towers', 17],
          ['Continental', 23],
          ['Moore', 11],
          ['Harrington', 15],
          ['Ware', 27],
          ['Plemons', 13],
          ['Talmage', 12]
        ]);

        // Set chart options
        var options = {'title':'Work Orders By Building',
                       'width':800,
                       'height':600};
console.log(document.getElementById('chart_div'))
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        console.log(chart, 'chart');
        var chart = new google.visualization.BarChart(document.getElementById('chart_div2'));
        chart.draw(data, options);
      };
		//let cut the script and add it back to pie chart
		//done and saved and this index?Yes
	</script>
    <!--Div that will hold the pie chart-->
    <table>
      
    <td><div id="chart_div"></div></td>
    
    
      <td><div id="chart_div2"></div></td>
      
    </table>
    
        <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
    	//This still only works in cloud9, I even tried the expert help but  no dice getting the charts to show up outside of just the preview
</section>