<section data-ng-controller="WorkOrderController" style="background-color:#848484;">
      	<!-- Display flash messages  -->

	<!-- Render the signin form  -->
	<div align=center>
	<form action="/signin" method="post">
		<div>
			<h4><label>Username:</label></h4>
			<input type="text" name="username" /><br>
		</div>
		<div><br>
			<h4><label>Password	:</label></h4><br>
			<input type="password" name="password" /><br>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
	</div>

</section>