<section data-ng-controller="WorkOrderController" data-ng-init="findOne()">
    <ul>
      <li><a href="/#!/workorders">List Work Orders</a></li>
      <li><a href="/#!/workorders/create">Create Work Orders</a></li>
      <li><a href="/#!/workorders/:workorderId">View Work Order</a></li>
      <li><a href="/#!/workorders/:workorderId/edit">Edit Work Order</a></li>
      <li><a href="/#!/workorders/{{workorder._id}}/edit/superuser">Complete work order</a></li>
    </ul>
  <h1>Edit Work Order</h1>
  <form data-ng-submit="update()" novalidate>
    <div>
      <label for="Building">Building</label>
      <select data-ng-model="workorder.Building" id="Building" required name="Select Building">
          <option value="Clubhouse">Clubhouse</option>
          <option value="Continental">Continental</option>
          <option value="Harrington">Harrington</option>
          <option value="Moore">Moore</option>
          <option value="Park Place Towers">Park Place Towers</option>
          <option value="Plemons">Plemons</option>
          <option value="Talmage">Talmage</option>
          <option value="Ware">Ware</option>
      </select>
    </div>
        <div>
      <label for="AptNumber">Apartment Number</label>
      <div>
        <input type="text" data-ng-model="workorder.AptNumber" id="AptNumber" placeholder="AptNumber" required>
      </div>
    </div>
    <div>
      <label for="ProblemDescription">Content</label>
      <div>
        <textarea data-ng-model="workorder.ProblemDescription" id="ProblemDescription" cols="30" rows="10" placeholder="ProblemDescription"></textarea>
      </div>
    </div>
        <div>
      <label for="PhoneNumber">Phone Number</label>
      <div>
        <input type="text" data-ng-model="workorder.PhoneNumber" id="PhoneNumber" placeholder="PhoneNumber" required>
      </div>
    </div>
    <div>
      <input type="submit" value="Update">
    </div>
    <div data-ng-show="error">
      <strong data-ng-bind="error"></strong>
    </div>
  </form>
</section>