<section data-ng-controller="WorkOrderController" data-ng-init="findOne()">
  <h1>Work Order</h1>
  <div data-ng-show="authentication.user._id == workorder.creator._id">
    <a href="/#!/workorders/{{workorder._id}}/edit">edit</a>
    <a href="#" data-ng-click="delete();">delete</a>
  </div>
  <small>
    <strong>Building:  </strong><strong data-ng-bind="workorder.Building"></strong><br>S
    <strong>Apartment Number:  </strong><strong data-ng-bind="workorder.AptNumber"></strong><br>
    <strong>Problem Description:  </strong><strong data-ng-bind="workorder.ProblemDescription"></strong><br>
    <strong>Phone Number:  </strong><strong data-ng-bind="workorder.PhoneNumber">Phone Number</strong><br>
    <p>Posted By:</p>
    <strong data-ng-bind="workorder.firstname"></strong>
    <strong data-ng-bind="workorder.lastname"></strong>
    <em>on</em>
    <em data-ng-bind="workorder.created | date:'mediumDate'"></em>

  </small>
</section>